---
import Section from '@/components/home/Section.astro'

import AiwbListJson from '../../../content/aiwb-list.json'
import AiwbSectionsJson from '../../../content/aiwb-sections.json'
import AiwbToolSection from './AiwbToolSection.astro'
import { AiwbCopyright } from 'astro-pure/components/pages'
---

<Section title='软件列表'>
  <div class='grid grid-cols-1 gap-1'>
    {AiwbSectionsJson.map((item) => (
      <Fragment>
        <AiwbToolSection 
            class="mb-5"
            title={item.name}
            description={item.description}
            icon={item.icon || "bulb"}
            spoiler={item.spoiler}
            slug={item.slug}
            tools={AiwbListJson.data.filter((i) => i.section.includes(item.slug))}
        />
      </Fragment>
    ))}
  </div>
  <div>
    <AiwbCopyright
    data={{
      title: "Awesome Iwb - 全网最全的班级一体机实用软件整合目录",
      latestUpdateDate: new Date("2025.04.02"),
    }}
  />
  </div>
</Section>