---
import { Image } from 'astro:assets'

import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import awesomeiwbLogo from '@/assets/aiwb/aiwb_logo.svg'
import config from '@/site-config'
import AiwbHomeSoftList from '@/components/aiwb/home/AiwbHomeSoftList.astro'
import AiwbTextLogo from '@/components/aiwb/home/AiwbTextLogo.astro'
import AiwbHeroBackground from '@/components/aiwb/home/AiwbHeroBackground.astro'

---

<PageLayout meta={{ title: 'Home' }} highlightColor='#70FFB8'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-16 flex flex-col items-center gap-y-7 mt-24 relative' id='content-header'>

      <AiwbHeroBackground/>

      <Image
        src={awesomeiwbLogo}
        alt='awesomeiwb-logo'
        class='h-24 w-auto p-1'
        loading='eager'
      />

      <AiwbTextLogo/>

      <div class='flex flex-col items-center gap-y-4'>
        <h4 class='text-base max-w-28rem text-center text-foreground:50 -mb-2'>{config.description}</h4>
        <h4 class='text-base font-bold max-w-28rem text-center text-foreground:75'>由 {config.author} 亲情撰写，源自于 GitHub 仓库版本</h4>
        <div class='flex flex-wrap justify-center mt-2 gap-x-7 gap-y-3'>
          <Label
            title='最新项目'
            as='a'
            href='https://github.com/awesome-iwb/awesome-iwb/issues/22'
            target='_blank'
          >
            <Icon name='sparkles' class='size-5' slot='icon' />
          </Label>
          <Label
            title='贡献指南'
            as='a'
            href='https://github.com/awesome-iwb/awesome-iwb/issues/22'
            target='_blank'
          >
            <Icon name='git_branch_line' class='size-5' slot='icon' />
          </Label>
          <Label
            title='GitHub 版仓库'
            as='a'
            href='https://github.com/awesome-iwb/awesome-iwb'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

    </section>

    <div id='content' class='animate flex flex-col mt-8 gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='关于项目'>
        <p class='text-muted-foreground'>Awesome Iwb 是一个收集令人惊叹的教学辅助软件和一体机实用软件的地方。其中收录的绝大多数软件都由在读中学生开发，都是为了提升班级一体机的使用体验，助力日常教学更加轻松。</p>
        <p class='text-muted-foreground'>
          本网站旨在收集下面的教学辅助软件或服务（所以不一定是软件，也有一些是网页服务或开发规范类的东西），尽可能详细展现其功能，同时为每个项目提供 “锐评” 板块（这样你就可以看到逗比对这些软件的极端评价了）和详细的使用体验、技巧分享等相关的文章（不一定都是逗比本人写的）。如欲提出问题，请前往对应仓库/交流平台，而不是在这里询问有关软件的问题。
        </p>
        <Button title='了解更多' class='w-fit self-end' href='/about' style='ahead' />
      </Section>

      <AiwbHomeSoftList/>

    </div>
  </main>
</PageLayout>
