<div class="flex flex-col w-full h-full items-center justify-center opacity-50">
    <svg class="h-28" viewBox="0 0 198 152" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="stroke-white" d="M128.481 73.1028C131.3 77.6251 132.43 80.1642 136.377 86.0853" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M137.177 66.9529C139.997 71.4752 141.452 73.6903 145.399 79.6114" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M196.997 112.871C193.708 105.634 184.873 90.4841 175.851 87.7773C164.572 84.3939 154.704 79.3187 151.603 82.4202" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M191.076 150.653C181.49 147.645 160.85 138.021 154.986 123.585" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M150.757 129.507C151.508 133.36 154.817 139.77 162.035 134.582" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M138.632 94.262C136.471 103.097 135.362 118.285 148.219 108.36" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M174.159 106.95C172.749 108.454 168.745 110.221 164.008 105.258C158.087 99.0552 151.602 74.8071 139.76 81.0101C127.918 87.2131 152.448 108.924 153.294 116.254C154.14 123.585 154.986 127.533 150.757 129.506C146.527 131.48 142.58 128.378 143.426 112.307" stroke-width="2" stroke-linecap="round"/>
        <path d="M69.9121 56.1984C69.9121 58.2227 71.5532 59.8638 73.5775 59.8638C74.617 59.8638 75.5554 59.4311 76.2225 58.736L73.5775 52.533C71.5532 52.533 69.9121 54.174 69.9121 56.1984Z" class="fill-white:35"/>
        <path d="M84.0098 72.5514C84.0098 74.5757 85.6508 76.2168 87.6752 76.2168C89.5078 76.2168 91.0262 74.8719 91.2975 73.1153L85.7015 69.4622C84.6841 70.1135 84.0098 71.2537 84.0098 72.5514Z" class="fill-white:35"/>
        <path class="stroke-white" d="M139.888 39.845C139.888 56.889 126.071 70.7059 109.027 70.7059C91.9834 70.7059 78.1665 56.889 78.1665 39.845C78.1665 22.801 91.9834 8.98413 109.027 8.98413C126.071 8.98413 139.888 22.801 139.888 39.845Z" stroke-width="2"/>
        <circle class="stroke-white" cx="109.027" cy="39.8448" r="38.1917" stroke-width="2"/>
        <path d="M103.127 78.3532C102.147 81.084 101.243 83.0163 100.16 84.7504C99.4836 85.8324 99.6979 87.2715 100.607 88.1667C104.714 92.2107 108.972 100.419 102.04 110.21C94.3167 121.12 80.4633 115.577 74.2745 111.014C73.9282 110.759 73.6746 110.402 73.5296 109.997L56.1204 61.4062C55.9965 61.0602 55.956 60.6902 56.0138 60.3273C57.1963 52.9029 61.8199 43.9148 70.2772 40.4032" class="stroke-white:35" stroke-width="2" stroke-linecap="round"/>
        <path class="stroke-white" d="M117.542 68.3935C119.286 55.2003 115.387 40.435 97.1654 31.8263C91.8451 29.3127 86.9609 28.1207 82.5277 27.9489" stroke-width="2" stroke-linecap="round"/>
        <path d="M17.729 66.9615C7.36037 88.9078 25.763 102.516 37.3376 106.382C38.5477 106.786 39.2932 108.043 39.1594 109.311C38.5552 115.043 40.4788 124.088 52.0502 127.25C64.945 130.772 72.1269 117.694 74.0099 110.239C74.1153 109.822 74.0845 109.385 73.9394 108.98L56.5303 60.3887C56.4064 60.0428 56.2051 59.7332 55.9295 59.4901C46.796 51.4389 27.3691 46.5571 17.729 66.9615Z" class="stroke-white:35" stroke-width="2" stroke-linecap="round"/>
        <path d="M56.9106 52.5282C54.4258 47.6816 51.8693 34.2801 61.5212 19.448" class="stroke-white:35" stroke-width="2" stroke-linecap="round"/>
        <path d="M53.2197 55.6747C52.0613 50.3528 45.5258 38.377 28.6509 33.0488" class="stroke-white:35" stroke-width="2" stroke-linecap="round"/>
        <ellipse cx="37.4872" cy="65.7843" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="28.4647" cy="79.3185" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="43.6903" cy="80.4464" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="53.8407" cy="113.153" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="59.4799" cy="100.747" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="45.9462" cy="97.3634" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="71.8856" cy="69.7321" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="87.6752" cy="105.258" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse cx="96.6976" cy="94.5441" rx="3.66541" ry="3.66541" class="fill-white:35"/>
        <ellipse class="stroke-white" cx="107.412" cy="56.1983" rx="4.79323" ry="4.79323" fill="black"/>
        <ellipse class="stroke-white" cx="92.1868" cy="44.9199" rx="4.79323" ry="4.79323" fill="black"/>
        <ellipse cx="82.6" cy="87.213" rx="3.66541" ry="3.66541" class="fill-white:35"/>
    </svg>
    <div class="font-bold text-xl mt-4 text-foreground">隐藏内容</div>
    <div class="font-normal text-sm mt-0.5 text-foreground:50">点击遮罩后查看</div>
</div>