/* Font */
/* @font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.ttf');
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono[wght].ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono Italic';
  src: url('/fonts/JetBrainsMono-Italic[wght].ttf');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans VF.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MiSans L3';
  src: url('/fonts/MiSans L3.otf');
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "MiSans", "MiSans L3", sans-serif;
}

/* Theme */
:root {
  --background: 135 33% 99%;
  --foreground: 150 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 150 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 150 10% 3.9%;
  --primary: 150 29% 45%;
  --primary-foreground: 0 0% 92.5%;
  --secondary: 150 4.8% 95.9%;
  --secondary-foreground: 150 5.9% 10%;
  --muted: 150 4.8% 95%;
  --muted-foreground: 150 3.8% 28.1%;
  --accent: 150 4.8% 95.9%;
  --accent-foreground: 150 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 150 5.9% 88%;
  --input: 150 5.9% 90%;
  --ring: 150 5.9% 10%;
  --radius: 0.5rem;
}
.dark {
  --background: 150 20.54% 5.2%;
  --foreground: 0 0% 98%;
  --card: 150 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 150 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 150 95% 85%;
  --primary-foreground: 150 3.7% 15.9%;
  --secondary: 150 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 150 5.9% 12%;
  --muted-foreground: 150 5% 74.9%;
  --accent: 150 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 150 3.7% 19.9%;
  --input: 150 3.7% 15.9%;
  --ring: 150 4.9% 83.9%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
